* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(170, 164, 164, 0.637);
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;    
}

.container {
    border-radius: 30px;
}

.container h2,
.container p {
    text-align: center;
}

.container img {
    width: 360px;
}


header {
    padding: 42px;
    background-color: black;
    color: white;
    font-size: 24px;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav li {
    display: inline;
    padding: 12px;
    margin-right: 16px;
    font-size: 16px;
}

header nav li a {
    text-decoration: none;
    color: white;
}


section .container {
    display: flex;
    margin-bottom:24px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

#Sinópse {
    padding: 24px;
    background-color: bisque;
    margin-bottom: 16px;
}

#Sinópse .container {
    box-shadow: none;
}


/* Container style */
#kise .container,
#midorima .container,
#murasakibara .container,
#daiki .container,
#akashi .container,
#kuroko .container {
    transition: .4s ease ;
    color: transparent;
    filter: grayscale(40%);
    overflow: hidden;
    width: 25%;
}


#kise .container:hover,
#midorima .container:hover,
#murasakibara .container:hover,
#daiki .container:hover,
#akashi .container:hover,
#kuroko .container:hover {
    width:1280px;
    color: black;
    filter: grayscale(0%);
}


#kise .container h2,
#midorima .container h2,
#murasakibara .container h2,
#daiki .container h2,
#akashi .container h2,
#kuroko .container h2 {
    position: relative;
    writing-mode: vertical-lr;
    color: black;   
    font-size: 64px;
    letter-spacing: 12px;
    transition: .3s ease;
    font-family:'Rubik Mono One', sans-serif;
    font-weight: normal;
}

#murasakibara .container h2 {
    letter-spacing: normal;
}

#kise .container:hover h2,
#midorima .container:hover h2,
#murasakibara .container:hover h2,
#daiki .container:hover h2,
#akashi .container:hover h2,
#kuroko .container:hover h2 {
    position: relative;
    left: 890px;
    font-size: 24px;
    opacity: 0.7;
    letter-spacing: 0;
}

#kise .text-kise,
#midorima .text-midorima,
#musarakibara .text-murasakibara,
#daiki .text-daiki,
#akashi .text-akashi,
#kuroko .text-kuroko {
    display: none;
}

#kise .container:hover .text-kise,
#midorima .container:hover .text-midorima,
#murasakibara .container:hover .text-murasakibara,
#daiki .container:hover .text-daiki,
#akashi .container:hover .text-akashi,
#kuroko .container:hover .text-kuroko {
    display: flex;
}

#kise .container {
    background-color: #ecdf6a;
}

#kise .container:hover {
    background-color: #fae105e3;
}

#midorima .container {
    background-color: #8eff7f;
}

#midorima .container:hover {
    background-color: #2acc15c0;
}

#murasakibara .container {
    background-color: #db7fff;
}

#murasakibara .container:hover {
    background-color: #c84afa;
}

#akashi .container {
    background-color: #e96ab4;
}

#akashi .container:hover {
    background-color: #f50491a6;
}

#daiki .container {
    background-color: #28269e;
}

#daiki .container:hover {
    background-color: #221fd1;
}

#kuroko .container {
    background-color: #1f9fd1;
}

#kuroko .container:hover {
    background-color: #6bc4e7;
}




/* Contatos */

#contact {
    border-top: 4px solid #000000;
}

#contact .container {
    display: block;
    border-radius: 0;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 160px;
}

.social-links {
    display: flex;
    column-gap: 16px;
}

.social-links li {
    display: inline;
}

.social-links li a  {
    text-decoration: none;
    color: #000000;
    font-size: 36px;
    margin-right: 16px;
}

.contact-methods h3,
#contact h2 {
    margin-bottom: 16px;
}

.git-icon:hover a {
    color: #8eff7f;
    text-shadow: 0 0 15px  #000000;
}

.insta-icon:hover a {
    color: #e9369e;
    text-shadow: 0 0 10px #000000;
}

#contact .container {
    box-shadow: none;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 18px;
}