* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-form {
    width: 600px;
    height: 750px;
    background: #fff;
    filter: brightness(90%);
}

.box-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
}


.box-form h1 {
    color: black;
    font-weight: bold;
    font-size: 46px;
}

.box-form form input,
.box-form button {
    display: block;
    width: 350px;
    padding: 24px;
    font-family: 'Roboto', sans-serif;
}

.box-form form input {
    margin-bottom: 10px;
}

.box-form button {
    width: 100%px;
    background-color: #10c510bd;
    border: 5px solid transparent;
    border-radius: 5px;
    animation: border-color 1s linear infinite;
    font-size: 22px;
    font-weight: 900;
}

@keyframes border-color {
    0% {
        border-color: rgba(79, 243, 87, 0.932);
    }

    50% {
        border-color: rgba(9, 194, 9, 0.925);
    }

    100% {
        border-color: rgb(0, 255, 128);
    }
}

.box-form button:hover {
    background-color: rgba(9, 194, 9, 0.925);
}

#form-comparação {
    display: flex;
    width: 350px;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.box-form label {
    position: relative;
    font-size: 16px;
    bottom: 30px;
    border-top: 2px solid black;
    border-radius: 5px;
    font-weight: 900;
}

.socialMidia {
    padding: 16px;
    width: 70%;
}

.socialMidia ul {
    display: flex;
    justify-content: space-evenly;
}

.socialMidia ul li {
    display: inline;
    justify-content: space-between;
}

.socialMidia i {
    display: inline;
    font-size: 38px;
}

.git a,
.insta a,
.whats a {
    color: rgb(0, 0, 0);
    transition: .4s ease;
}


.git:hover a {
    color: rgba(235, 9, 9, 0.973);
    text-shadow:0 0 10px rgba(0, 0, 0, 0.7);
    
}

.insta:hover a {
    color: #ff009dc4;
    text-shadow:0 0 10px rgba(0, 0, 0, 0.7);
}

.whats:hover a {
    color: #09ff98;
    text-shadow:0 0 10px rgba(0, 0, 0, 0.7);
}
.success-mensage,
.error-mensage {
    display: none;
    position: relative;
    bottom: 110px;
    background-color: rgba(0, 140, 255, 0.685);
    padding: 16px;
    width: 350px;
    font-size: 18px;
    border-radius: 10px;
}

.error-mensage {
    background-color: red;
}



input.error {
    color: red;
    border-color: red;
    outline-color: red;
}