/* Reset de Página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

header {
    background-color: #a62b2b;
    color: #fff;
    padding-top: 16px;
}

/* Estilização do primeiro container filho do elemento Header, ele não altera os outros .container */
header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

nav {
    background-color: rgb(124, 28, 202);
    padding: 16px 0;
    display: none;
}


nav li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
}

nav li a {
    color: #fff;
    text-decoration: none;
}


.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
}

