* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}



body {
    padding-top: 100px;
    background-color: #a5a5a5;
    
}



header {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
    align-items: center;
}

#contador-contatos {
    padding: 8px;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(42, 28, 241, 0.521);
    border-radius: 10px;
}

header i {
    font-size: 42px;
    padding: 0 12px;
}

form {
    display: flex;
    max-width: 840px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
    gap: 10px;
    align-items: center;

}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

.inputGroup1,
.inputGroup2 {
    display: flex;
    gap: 10px;
    position: relative;
}

.inputGroup1 input,
.inputGroup2 input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 15px;
    width: 100%;
}

.labelNome,
.labelContato {
    font-size: 100%;
    position: absolute;
    left: 0.5em;
    top: 1em;
    padding: 0 0.2em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.4s ease;
    color: rgb(100, 100, 100);
}



.inputGroup1 :is(input:focus, input:valid)~label,
.inputGroup2 :is(input:focus, input:valid)~label {
    transform: translateY(-130%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    background: #a5a5a5;
}


button {
    font-size: 22px;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgba(42, 28, 241, 0.438);
}

button:hover {
    background-color: rgba(42, 28, 241, 0.521);
}



table th {
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 100%;
}

table td {
    padding: 8px 0;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    font-size: 18px;
    font-weight: bold;
}

tr {
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}


