* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 1500px;
}

header {
    position: fixed;
    background-color:rgba(255, 0, 0, 0);
    padding: 2vw;
    color: white;
    width: 100%;
    transition: .4s ease-in-out;
}


header.scrolled {
    background-color: rgba(68, 68, 68, 0.5);
    padding: 16px;
    color: transparent;
}



.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav ul li {
    display: inline;
    margin-left: 24px;
}

header .container nav ul li a {
    color: aliceblue;
}

header .container nav ul li a:hover {
    text-decoration: underline;
}

#estenção-header {
background-image: linear-gradient(to right, hsl(0, 0%, 45%),hsl(249, 100%, 25%));
    height: 480px;
    width: 100%;
    overflow: hidden;
    background-size: 150%;
    animation: gradient 3s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
}

#estenção-header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#estenção-header img {
    height: 50vh;
}

#menssageInvi span {
    opacity: 0;
    animation: fade-in 3s ease-in forwards infinite;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


