* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
/* Estilização do header - linha 12 até 43*/
header {
    padding: 16px;
    background-color: #000000;
    opacity: .9;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    color: #fff;
    padding: 8px 0;
}

.hamburguer-menu {
    width: 32px;
    padding: 8px 0;
    cursor: pointer;
}

.hamburguer-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
}
/*Estilização section #About linha 45 até # */
section {
    position: relative;
    height: 85vh;
}

nav {
    display: none;
}

#initPag {    
    display: flex;
    color: #fff;
    background-color: #000000;
    opacity: .9;
}


#initPag .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 16px;
}

.spanBox {
    margin-bottom: 30px;
}

.spanBox span {
    font-size: 84px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

#initPag iframe {
    width: 60%;
}

.biografia {
    font-size: 22px;
    margin-bottom: 33px;
}

.redesSociais {
    width: 50%;
    margin: 0 auto;
}

.redesSociais ul {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.redesSociais ul li,
.redesSociais ul li a {
    list-style: none;
}

.icon {
    font-size: 46px;
    color: #fff;
    transition: .5s ease ;
}

.fa-linkedin-in:hover {
    color: #0077B5;
}

.fa-youtube:hover {
    color: #FF0000;
}

.fa-instagram:hover {
    color: #E1306C;
}

.textName {
    font-size: 24px;
}